In [3]:
import pandas as pd

In [4]:
ls

Bird_Count.csv                 Pattern_Count_RT.csv
data validation.ipynb          pp_milp_1.py*
Fresh_Product_Sold.csv         pp_milp.dat*
Frozen_Product_Inventory.csv   pp_milp.py*
Frozen_Product_Production.csv  pp_milp.pyc
Frozen_Product_Sold.csv        Process_Fresh_OverHorizon.csv
milp_mpp.py*                   Production.csv
Model_Input_Customer.xlsm*     results.json*
Model_Input_old.xlsm*          SNO.ipynb*
Model_Input_test.xlsm*         SNO_Model_shelf_life.ipynb
Model_Input.xlsm               Unsatisfied_Fresh.csv
Pattern_Count_OT.csv           Unsatisfied_Frozen.csv

In [6]:
demand_fresh = pd.read_excel('Model_Input.xlsm', sheet_name="Demand_Fresh")
demand_fresh = demand_fresh.dropna(axis='columns', how='all')

In [7]:
demand_fresh.columns

Index(['item code ', 'item description', 'Week 1', 'Week 2', 'Week 3',
       'Week 4', 'Unnamed: 12'],
      dtype='object')

In [80]:
(set(demand_fresh['item description'])).difference(set(frozen['item description']))
(set(demand_fresh['item description'])).difference(set(frozen['item description']))

{'3 JOINT WING JC ',
 '4 PC CUT WO SKIN X 2 BIRDS ',
 '9 PCCUT CHIC - KFC HS ',
 '9 PCCUT CHIC - KFC OR (WO 3JW) ',
 'BLACK PEPPER ROAST CHICKEN 1.1 ',
 'BLACK PEPPER ROAST QUARTER LEG ',
 'BONELESS THIGH (75-85G) ',
 'CHICKEN HEAD ',
 'CHICKEN SKIN ',
 'CHILL MAR ORI CHIC QTR (TEXAS) ',
 "CHILL MAR ORI CHICKEN WENDY'S ",
 'CHILL MAR. ORI CHICKEN (TEXAS) ',
 'DRUMMET MF (38-50G) 150PC ',
 'DRUMSTICK ',
 'DRUMSTICK (100-140G) 20PC ',
 'DRUMSTICK CUBE ',
 'FILLET ',
 'HONEY ROAST QUARTER LEG ',
 'HOT & SPICY ROAST QUARTER LEG ',
 'LEG BONE ',
 'LIVER BROKEN ',
 'LIVER WITHOUT HEART 125G ',
 "MAR BREAST NANDO'S 5PC ",
 'MAR BSL THIGH 5070 ND-10P ',
 'MAR CHICKEN BLK PEPPER (BFLY) ',
 'MAR CHICKEN HONEY (BFLY) ',
 'MAR CHICKEN HOT & SPICY (BFLY) ',
 'MAR CHICKEN PERCIK (BFLY) ',
 "MAR FILLET NANDO'S-20PC ",
 'MAR QLEG KUNYIT-EK (250-270G) ',
 'MAR THI TURMERIC-EK(140-160G) ',
 'MAR WHOLE BIRD KRR-BP 10BDS C ',
 'MAR WHOLE BIRD KRR-MEX 10BDS C ',
 'MAR WHOLE BIRD KRR-OR 10BDS C ',
 'MAR WHOLE BIRD NANDOS-OR 2BDS ',
 'MAR WHOLE BIRD NANDOS-OR 4BDS ',
 "MAR WING NANDO'S 20PC ",
 "MAR WING NANDO'S 9PC ",
 'MAR. 9PC CUT MCD-HS 18PC ',
 'MAR. 9PC CUT MCD-OR 18PC ',
 'MAR. BL BREAST BFLY ND 4PC ',
 'MID JOINT WING MF(30-40)150PC ',
 'QUARTER LEG ',
 'QUARTER LEG (220-270G) 10PC ',
 'RIB ',
 'ROAST CHICKEN HONEY 2BDS ',
 'ROAST CHICKEN HOT & SPICY 2BDS ',
 'ROAST CHICKEN PERCIK 2BDS ',
 'ROAST WHOLE CHIC B.PEPPER M1 ',
 'ROAST WHOLE CHIC MAHSURI M1 ',
 'ROAST WHOLE CHICKEN HONEY M1 ',
 "S'LESS B'LESS THIGH (FAT FREE) ",
 'THIGH ',
 'WHOLE BIRD L1 (GIBLET 4 IN 1 ) ',
 'WHOLE CHIC(M2)1351-1650GSP GCH ',
 'WHOLE CHICKEN WITH H&F&G (L1) '}

In [71]:
len(set(frozen['item description']))

117

In [20]:
frozen = pd.read_excel('Model_Input.xlsm', sheetname="Demand_Frozen")
frozen = frozen.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [34]:
fro = []
for i in set(frozen['item description'].unique()):
    fro.append(i[:-2])

In [36]:
len(fro)

119

In [33]:
fre = []
for i in set(demand_fresh['item code '].unique()):
    fre.append(i[:-2])

In [37]:
len(fre)

109

In [75]:
len(set(fre).intersection(set(fro)))

50

In [78]:
(set(fro).difference(set(fre)))

{'BBRS07595P24',
 'BBRS16180K05',
 'BBRS1821FK02',
 'BBRS1823FK02',
 'BBRS2325FK06',
 'BBRSF3540K02',
 'BCH019220K02',
 'BFL003540K02',
 'BLG018230K02',
 'BLGS07595P24',
 'BTH005565K06',
 'BTH009100K06',
 'BTH0CU020K02',
 'BTH0F0000K02',
 'BTHS07595P24',
 'BTHSMF02CK02',
 'C3JW00BRUK02',
 'C3JW09120K04',
 'C3JW0913VP06',
 'C3JWL0000K02',
 'C9PC00KFCP18',
 'C9PCGCH00P18',
 'CDS01014VP06',
 'CDS0J0000K02',
 'CDS0S0000K02',
 'CKE01218VP04',
 'CRB01924VP04',
 'CTH015180P12',
 'CTH016190K02',
 'CTH01621VP04',
 'GFAT000SKK01',
 'GFATF0000K05',
 'GGB0F0000K10',
 'GGRDMMTPRK01',
 'GGRDMMTSKK02',
 'GNK0F0000K10',
 'GSKNF0000K05',
 'GTL0F0BRUK06',
 'MPORBBSAWP10',
 'MPORBFTEXK02',
 'MPORBSTEKP12',
 'MPORBTSTXK02',
 'MPORBTSWDP20',
 'MPORC9AW0P09',
 'MPORC9AWSP09',
 'MPORC9MD0P09',
 'MPORC9MDSP09',
 'MPORCH0BPP02',
 'MPORCHBBQP02',
 'MPORCHKROP10',
 'MPORCHORIP10',
 'MPORCHOWDP10',
 'MPORCKRBPP10',
 'MPORDMKRSP20',
 'MPORFLTEXK02',
 'MPORPDMT0K02',
 'MPORPMJW0K02',
 'MPORQLSORP10',
 'MPORTHDNYP20',
 'MPORWBPM1P01',
 'MPORWHSM1P01',
 'MPORWHYM1P01',
 'MPORWKR00P02',
 'MPORWKRBPP02',
 'MPORWMHM1P01',
 'MPORWNDORP01',
 'P3JW00BRUK02',
 'PDMT04050K02',
 'WBM1SP0JDP01'}

In [46]:
len(set(fre).union(set(fro)))

178

In [10]:
shelf_life = pd.read_excel('Model_Input.xlsm', sheetname="Shelf_Life")
shelf_life = shelf_life.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [11]:
shelf_life

         item code   Shelf_Life
0    BBR0F0000K02DC           3
1    BBRSF0000K02DC           4
2    BBRSF0000RETDC           5
3    BBRSMF000K04DC           6
4    BFL0F0000K02DC           7
5    BLG0F0000K02DC           8
6    BLGSF0000K02DC           9
7    BTH007585K04DC          10
8    BTHSF0000K02DC          11
9    BTHSMF000K04DC          12
10   BTHSMF0FFK04DC          13
11   C3JW07100K02DC          14
12   C3JW09130K02DC          15
13   C4PC00000P08DC          16
14   C9PC00000P18DC          17
15   C9PCKFC00P14DC          18
16   C9PCKFC00P18DC          19
17   C9PCWBM20P18DC          20
18   CBRSH2332P10DC          21
19   CCHICU000K02DC          22
20   CCHICU000K06DC          23
21   CDS008110K02DC          24
22   CDS010140K02DC          25
23   CDS010140P20DC          26
24   CDS0CU000K02DC          27
25   CDS0F0000RETDC          28
26   CKE0F0000K02DC          29
27   CKE0F0000RETDC          30
28   CLG022270K06DC          31
29   CLG022270P10DC          32
..              ...         ...
79   MPORWM1BPP02DC          82
80   MPORWM1HSP02DC          83
81   MPORWM1HSRETDC          84
82   MPORWM1HYP02DC          85
83   MPORWM1HYRETDC          86
84   MPORWM1PKP02DC          87
85   MPORWM1PKRETDC          88
86   MPORWM4BPRETDC          89
87   MPORWMHM1P02DC          90
88   MPORWNDORP02DC          91
89   MPORWNDORP04DC          92
90   P3JW07090K02DC          93
91   P3JW08100K02DC          94
92   P3JWF0000RETDC          95
93   PDMTF0000K02DC          96
94   PDMTF0000RETDC          97
95   PDMTMF000150DC          98
96   PMJWF0000K02DC          99
97   PMJWMF000150DC         100
98   WBL1BP000P10DC         101
99   WBL1SPG41P01DC         102
100  WBL1SPHFGP01DC         103
101  WBM1BP000P10DC         104
102  WBM1SP000P01DC         105
103  WBM2BP000P10DC         106
104  WBM2SP000P01DC         107
105  WBM2SPGCHP01DC         108
106  WBS2BP000P10DC         109
107  WNC03P000P03DC         110
108  WNC03P0S2P03DC         111

[109 rows x 2 columns]

In [12]:
y = pd.read_excel('Model_Input.xlsm', sheetname="Yield")
y = y.dropna(axis='columns', how='all')

/usr/local/lib/python3.5/dist-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [13]:
len(y['Product'].unique())

109

In [61]:
d = pd.DataFrame()

In [62]:
d['Fresh'] = sorted(fre)

In [63]:
d1 = pd.DataFrame()
d1['Frozen'] = sorted(fro)

In [64]:
d2 =pd.concat([d,d1], ignore_index=True, axis=1)

In [65]:
d2.to_csv('products.csv')

In [102]:
wa = [1+n*24 for n in range(0,15)]
wa

[1, 25, 49, 73, 97, 121, 145, 169, 193, 217, 241, 265, 289, 313, 337]

In [105]:
wb = [9+n*24 for n in range(0,15)]
wb

[9, 33, 57, 81, 105, 129, 153, 177, 201, 225, 249, 273, 297, 321, 345]

In [1]:
import pandas as pd

In [2]:
fresh_sold = pd.read_csv('Fresh_Product_Sold.csv')
fresh_sold

            days  Day_1  Day_2  Day_3  Day_4
0         Ribs_1   1463    777   1629   1447
1        Keels_1   1397   1569   1106   1700
2         Legs_1   1322   1550   1184   1161
3        Thigh_1   1269   1525   1331   1589
4        Wings_1    806   1147    431   1598
5      Breasts_1    577   1057    404   1715
6   Drumsticks_1   3411   3411   3407   3411
7         Ribs_2   1625    133   1492   1158
8        Keels_2   1104   1467   1151   1857
9         Legs_2   1138   1628   1375   1792
10       Thigh_2   1426   1102   1574   1162
11       Wings_2   1106   1813   1122   1598
12     Breasts_2    729   1076    265   1222
13  Drumsticks_2   1196   1164   1451   1483

In [3]:
fresh_sold1 = pd.DataFrame(fresh_sold.days.str.split('_',1).tolist(),
                                   columns = ['Products','Customer'])

In [4]:
Fresh_sold = pd.concat([fresh_sold, fresh_sold1], axis=1)

In [5]:
Fresh_sold

            days  Day_1  Day_2  Day_3  Day_4    Products Customer
0         Ribs_1   1463    777   1629   1447        Ribs        1
1        Keels_1   1397   1569   1106   1700       Keels        1
2         Legs_1   1322   1550   1184   1161        Legs        1
3        Thigh_1   1269   1525   1331   1589       Thigh        1
4        Wings_1    806   1147    431   1598       Wings        1
5      Breasts_1    577   1057    404   1715     Breasts        1
6   Drumsticks_1   3411   3411   3407   3411  Drumsticks        1
7         Ribs_2   1625    133   1492   1158        Ribs        2
8        Keels_2   1104   1467   1151   1857       Keels        2
9         Legs_2   1138   1628   1375   1792        Legs        2
10       Thigh_2   1426   1102   1574   1162       Thigh        2
11       Wings_2   1106   1813   1122   1598       Wings        2
12     Breasts_2    729   1076    265   1222     Breasts        2
13  Drumsticks_2   1196   1164   1451   1483  Drumsticks        2

In [6]:
df = Fresh_sold
del df['days']

In [248]:
df_1 = df[(df['Customer']=='1')]

In [249]:
df_2 = df[df['Customer']=='2']

In [250]:
df_final = pd.concat([df_1.T,df_2.T],axis=1)

In [251]:
df_final

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Day_1,1463,1397,1322,1269,806,577,3411,1625,1104,1138,1426,1106,729,1196
Day_2,830,1569,1550,1525,1095,1057,3411,186,1467,1628,1102,1761,1076,1164
Day_3,1635,1106,1184,1331,425,404,3407,1498,1151,1375,1574,1116,265,1451
Day_4,1447,1700,1161,1589,1598,1715,3411,1158,1857,1792,1162,1598,1222,1483
Products,Ribs,Keels,Legs,Thigh,Wings,Breasts,Drumsticks,Ribs,Keels,Legs,Thigh,Wings,Breasts,Drumsticks
Customer,1,1,1,1,1,1,1,2,2,2,2,2,2,2

In [241]:
def sjoin(x): return ';'.join(x[x.notnull()].astype(str))
df_final.groupby(level=0, axis=1).apply(lambda x: x.apply(sjoin, axis=1))

   Customer   Day_1   Day_2   Day_3   Day_4    Products
0         1  1463.0   830.0  1635.0  1447.0        Ribs
1         1  1397.0  1569.0  1106.0  1700.0       Keels
2         1  1322.0  1550.0  1184.0  1161.0        Legs
3         1  1269.0  1525.0  1331.0  1589.0       Thigh
4         1   806.0  1095.0   425.0  1598.0       Wings
5         1   577.0  1057.0   404.0  1715.0     Breasts
6         1  3411.0  3411.0  3407.0  3411.0  Drumsticks
7         2  1625.0   186.0  1498.0  1158.0        Ribs
8         2  1104.0  1467.0  1151.0  1857.0       Keels
9         2  1138.0  1628.0  1375.0  1792.0        Legs
10        2  1426.0  1102.0  1574.0  1162.0       Thigh
11        2  1106.0  1761.0  1116.0  1598.0       Wings
12        2   729.0  1076.0   265.0  1222.0     Breasts
13        2  1196.0  1164.0  1451.0  1483.0  Drumsticks

In [164]:
df = df.drop('days')

In [180]:
df=df.T

In [191]:
df =df.drop(' Products')

In [194]:
df

           Day_1 Day_2 Day_3 Day_4 Customer
Products
Ribs        1463   830  1635  1447        1
Keels       1397  1569  1106  1700        1
Legs        1322  1550  1184  1161        1
Thigh       1269  1525  1331  1589        1
Wings        806  1095   425  1598        1
Breasts      577  1057   404  1715        1
Drumsticks  3411  3411  3407  3411        1
Ribs        1625   186  1498  1158        2
Keels       1104  1467  1151  1857        2
Legs        1138  1628  1375  1792        2
Thigh       1426  1102  1574  1162        2
Wings       1106  1761  1116  1598        2
Breasts      729  1076   265  1222        2
Drumsticks  1196  1164  1451  1483        2

In [175]:
df.pivot_table(values=['Ribs','Keels','Legs','Thigh','Wings','Breasts','Drumsticks'],index=['Day_1','Day_2','Day_3','Day_4'])

KeyError: 'Day_1'

In [75]:
df.set_index(['time'], inplace=True)

# iterate through the list of countries, and create a plot
for customer in df.Customer.unique():
    # .plot.bar makes bar charts
    ax = df[df.Country==country].plot.bar(stacked=True)
    # make room for the legend, and sets in the upper right corner
    ax.set_xlim(ax.get_xlim()[0],ax.get_xlim()[1]+1)
    ax.legend(loc='upper right')
    # add the country name to the top of the chart.
    ax.set_title(country)

KeyError: 'time'